<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/starability.css">
<div class="container">
	<h4 style="text-align:center">
		Add comment to <%= campground.name %>
	</h4>
	<div class="formBox">
		<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			<div class="form-group">
				<textarea class="form-control" type="text" name="comment[text]"
					placeholder="Add your comment here.."></textarea>
			</div>
			<legend>Rating:</legend>
			<fieldset class="starability-basic" style="display: inline;">
				<input type="radio" id="rate0" class="input-no-rate" name="comment[rating]" value="0" checked
					aria-label="No rating." />
				<input type="radio" id="rate1" name="comment[rating]" value="1" />
				<label for="rate1" title="Terrible">1 star</label>
				<input type="radio" id="rate2" name="comment[rating]" value="2" />
				<label for="rate2" title="Not good">2 stars</label>
				<input type="radio" id="rate3" name="comment[rating]" value="3" />
				<label for="rate3" title="Average">3 stars</label>
				<input type="radio" id="rate4" name="comment[rating]" value="4" />
				<label for="rate4" title="Very good">4 stars</label>
				<input type="radio" id="rate5" name="comment[rating]" value="5" />
				<label for="rate5" title="Amazing">5 stars</label>
			</fieldset>
			<button class="clear-rating btn btn-outline-secondary btn-sm float-right" type="button">clear</button>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Submit
				</button>
			</div>
		</form>
		<a href="/campgrounds">Back</a>
	</div>
</div>

<script>
	$('.clear-rating').click(function () {
		$('.input-no-rate').click();
	})
</script>

<%- include("../partials/footer") %>